################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MauiPlayground/FileContentIndex/e460a8bd-0048-4609-a0a7-cd2b0c8e87e1.vsidx
